@media (max-width: 1640px) {
	.descr__decor {
		margin-right: 0;
	}
	.descr__overlay--1::after {
		content: "";
		position: absolute;
		bottom: 1%;
		right: 0;
		width: 200px;
		height: 200px;
	}
}

@media (max-width: 1490px) {
	.slider-1 {
		padding: 0 43px;
	}
	.slider-1__prev {
		transform: translate(0, -100%);
	}

	.slider-1__next {
		transform: translate(0, -100%) rotate(180deg);
	}

	.our-animals__slider {
		padding: 0 43px;
	}
	.slider-2__prev {
		transform: translate(0, -50%);
	}
	.slider-2__next {
		transform: translate(0, -50%) rotate(180deg);
	}
}

@media (max-width: 1410px) {
	.bot-nav__item:not(:last-child) {
		margin-right: 21px;
	}
	.bot-nav__link {
		font-size: 11.5px;
	}
	.first__body {
		padding: 6.6% 0px 6% 0px;
	}

	.slider-hero__image img {
		height: auto;
	}

	.grid-about {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, auto));
		grid-column-gap: 60px;
		grid-row-gap: 70px;
	}

	.about__grid {
		padding-left: 55px;
	}

	.grid-about__number {
		margin-bottom: 15px;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 1px;
	}
	.grid-about__col::after {
		top: -51px;
		left: -52px;
		width: 130px;
		height: 130px;
	}

	.about {
		padding-bottom: 100px;
		background-size: contain;
	}
	.about__top {
		margin-bottom: 30%;
	}
	.about__image {
		padding-bottom: 63.05%;
	}

	.join__input {
		width: 400px;
		height: 65px;
	}
	.join__btn {
		width: 400px;
		min-height: 70px;
		font-size: 17px;
	}
	.join__form {
		padding: 100px 15px 100px 90px;
	}

	.comment {
		padding: 50px;
	}

	.donate__image {
		flex: 0 0 48.5%;
		max-height: 682px;
		background: url("../img/donate-dog.png") center center/contain no-repeat;
	}

	.donate__content {
		padding: 70px 0px 70px 30px;
	}
	.top-nav__item:not(:last-child) {
		margin-right: 35px;
	}
	.descr__decor {
		flex: 0 0 45%;
	}
	.descr__overlay--2::after {
		width: 150px;
		height: 150px;
	}
	.descr__overlay--1::before {
		top: 0;
		bottom: 0;
		width: 60px;
		height: 60px;
	}
	.news__list {
		margin: 0px -37.5px 49px -37.5px;
	}
	.volunteer__title {
		margin-bottom: 30px;
	}
	.volunteer__content {
		margin-right: 8%;
		padding-top: 60px;
	}
	.volunteer__form {
		flex: 0 0 500px;
	}
	.volunteer__image {
		top: 34px;
	}
}

@media (max-width: 1200px) {
	.first {
		min-height: auto;
	}

	.first__subtitle {
		margin-bottom: 30px;
	}

	.slider-hero {
		height: auto;
	}

	.first__slider {
		padding-left: 0;
	}

	.first__slider-container {
		margin: 0 auto;
		max-width: 850px;
	}
	.slider-hero__image {
		background-size: contain;
		background-position: center bottom;
	}

	.first__slider::after {
		background: url("../img/ellipse-hero.svg") 0 100% / contain no-repeat;
	}

	.slider-1__btn {
		width: 65px;
		height: 65px;
	}

	.slider-2__btn {
		width: 60px;
		height: 60px;
	}

	.donate__title {
		font-size: 34px;
		line-height: 1.2;
	}
	.donate__subtitle span {
		font-size: 44px;
	}

	.our-animals__slider {
		padding: 0 28px;
	}
	.first__img-text {
		margin-bottom: 20px;
		position: relative;
		top: -25px;
		padding-bottom: 15.9%;
		background: url("../img/text-hero.png") 100% 0 / contain no-repeat;
	}

	.about__image {
		position: relative;
		right: 0;
		width: 100%;
		padding-bottom: 45%;
		margin-bottom: 30px;
		img {
			object-position: center;
			font-family: "object-fit: contain; object-position: center;";
		}
	}
	.about__image::after {
		top: 0;
		padding-bottom: 33%;
		background: url("../img/about-text.png") center / contain no-repeat;
	}

	.about__top {
		margin-bottom: 40px;
		max-width: none;
	}

	.grid-about__number {
		font-size: 40px;
	}
	.grid-about__text {
		letter-spacing: 0.3px;
		font-size: 17px;
	}

	.donate__container {
		padding-top: 50px;
		padding-bottom: 4.4%;
	}
	.our-animals__title {
		margin-bottom: 40px;
		font-size: 35px;
		line-height: 1.3;
		letter-spacing: 0.7px;
	}

	.comment {
		padding: 25px 50px 30px 40px;
	}
	.comment__name {
		font-size: 24px;
	}
	.comment__text {
		font-size: 17px;
	}

	.comment__time {
		font-size: 14px;
	}

	.join__form {
		padding: 50px 15px 50px 40px;
		flex: 1 1 auto;
	}

	.join__map {
		flex: 0 0 50%;
	}

	.join__title {
		margin-bottom: 20px;
		font-size: 35px;
		line-height: 1.2;
		letter-spacing: 1px;
	}

	.join__subtitle {
		margin-bottom: 40px;
		font-size: 20px;
		letter-spacing: normal;
	}

	.join__input {
		width: 396px;
		height: 65px;
	}

	.header__nav {
		display: none;
	}

	.header__burger {
		display: flex;
	}

	.footer__adresses {
		margin: 0 auto;
	}
	.bln {
		width: 183px;
		height: 100px;
		background: url("../img/point-map.svg") 0 0 / contain no-repeat;
		text-align: center;

		&__inner {
			height: 100%;
			padding: 15px 10px 25px 10px;
			position: relative;
		}

		&__close {
			width: 10px;
			height: 10px;
			position: absolute;
			top: 7px;
			right: 7px;
		}

		&__text {
			color: #ffffff;
			font-family: "Montserrat";
			font-size: 12px;
			letter-spacing: normal;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
	.descr__decor {
		flex: 0 0 352px;
	}
	.descr__title {
		margin-bottom: 30px;
	}
	.descr {
		padding-bottom: 90px;
	}
	.descr__overlay--2::after {
		width: 100px;
		height: 100px;
	}
	.descr__overlay--1::before {
		width: 40px;
		height: 40px;
	}
	.volunteer__content {
		margin-right: 40px;
		padding-top: 35px;
	}
	.volunteer__form {
		flex: 0 0 460px;
		padding: 225px 15px 0px 15px;
	}
	.volunteer__image {
		top: 0;
	}
	.form-vol {
		padding: 80px 30px 84px 30px;
	}

	.contacts__list {
		margin: 0px -20px 0px -20px;
	}
	.contacts__column {
		padding: 0px 20px 40px 20px;
	}
	.card-pet {
		padding: 37px 44px 70px 44px;
	}
	.comments__list {
		margin-bottom: 50px;
	}
	.pets {
		padding-bottom: 70px;
	}
}

@media (max-width: 992px) {
	.first__slider::after {
		background: url("../img/ellipse-hero.svg") center 0 / cover no-repeat;
	}

	.first__title {
		font-size: 45px;
		letter-spacing: 1px;
		line-height: 1.3;
	}

	.first__subtitle {
		font-size: 22px;
	}

	.first__img-text {
		margin-bottom: 45px;
		margin-left: 0;
		position: relative;
		top: 0;
		padding-bottom: 20.9%;
		background: url("../img/text-hero.png") center / contain no-repeat;
	}

	.blue-btn {
		min-height: 65px;
		font-size: 16px;
	}

	.first__btn:first-child {
		flex: 0 1 290px;
	}
	.first__btn:last-child {
		flex: 0 1 240px;
	}

	.first__slider-container {
		max-width: 550px;
	}
	.first__body {
		padding: 7.6% 0px 9% 0px;
	}
	.find__container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.tabs__item {
		padding: 10px 20px;
		font-size: 16px;
	}

	.about {
		padding-bottom: 60px;
	}
	.about__top {
		padding-top: 10px;
	}

	.donate__content {
		padding: 40px 0px 40px 30px;
	}

	.donate__container {
		padding-top: 50px;
		padding-bottom: 6.4%;
	}

	.donate__image {
		flex: 0 0 35%;
	}
	.donate__title {
		margin-bottom: 5%;
		font-size: 31px;
		line-height: 1.3;
	}

	.donate__subtitle span {
		font-size: 38px;
	}
	.donate__subtitle {
		margin-bottom: 30px;
		font-size: 25px;
		letter-spacing: 0.4px;
	}

	.donate__info {
		margin-bottom: 45px;
		font-size: 15px;
	}

	.our-animals__title {
		margin-bottom: 20px;
		font-size: 31px;
	}

	.slider-2 .swiper-slide-active {
		box-shadow: 5px 6px 24px rgba(53, 139, 238, 0.7);
	}

	.join__btn {
		width: 90%;
		min-height: 70px;
		font-size: 17px;
	}

	.join__input {
		width: 90%;
		margin-bottom: 25px;
		padding: 10px 25px;
		font-size: 16px;
	}

	.join__title {
		margin-bottom: 20px;
		font-size: 31px;
	}

	.join__subtitle {
		margin-bottom: 40px;
		font-size: 18px;
	}

	.footer__container {
		padding-top: 8%;
		padding-bottom: 9%;
	}

	.footer__tels {
		margin-bottom: 40px;
	}

	.tels-footer__link {
		font-size: 15px;
		font-weight: 700;
		letter-spacing: normal;
	}

	.tels-footer__item:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-adresses__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-copyrights__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-adresses__text {
		font-size: 13px;
		letter-spacing: normal;
	}

	.footer-copyrights__text {
		font-size: 11px;
		letter-spacing: normal;
	}

	.footer__copyrights {
		max-width: 260px;
	}
	.descr__container {
		display: block;
	}
	.descr__content {
		margin-bottom: 50px;
		padding-right: 0;
	}
	.descr__image {
		background-position: center;
		padding-bottom: 100%;
	}
	.descr__decor-cont {
		position: relative;
		width: 364px;
	}
	.descr__image::after {
		width: 130px;
		height: 130px;
	}
	.descr__image::before {
		width: 50px;
		height: 50px;
	}
	.descr__title {
		margin-bottom: 15px;
		font-size: 34px;
	}
	.news__title {
		font-size: 34px;
		margin-bottom: 80px;
	}
	.comments__title {
		font-size: 34px;
		margin-bottom: 40px;
	}
	.contacts__title {
		font-size: 34px;
	}
	.volunteer__title {
		font-size: 34px;
	}
	.reviews__gal {
		margin-bottom: 40px;
	}
	.reviews__title {
		margin-bottom: 10px;
		font-size: 27px;
	}
	.reviews__subtitle {
		font-size: 18px;
	}
	.reviews__btn {
		font-size: 15px;
		line-height: 28px;
	}
	.contacts__item-title {
		font-size: 18px;
		margin-bottom: 20px;
	}
	.contacts__text--bold {
		font-size: 18px;
	}
	.contacts__mail {
		color: #000;
		font-size: 18px;
	}
	.contacts__tels {
		font-size: 18px;
	}
	.contacts__item-bot li:not(:last-child) {
		margin-bottom: 12px;
	}
	.contacts__column {
		flex: 1 0 288.5px;
	}
	.volunteer__flex {
		display: block;
	}
	.volunteer__content {
		margin-bottom: 40px;
		margin-right: 0;
		padding-top: 0;
	}
	.content-vol__head {
		margin-bottom: 20px;
	}
	.volunteer__form {
		margin: 0 auto;
		max-width: 460px;
		padding: 225px 15px 0px 15px;
	}
	.volunteer {
		padding-bottom: 100px;
	}
	.pet__container {
		flex-direction: column-reverse;
	}
	.card-pet {
		margin: 0px auto 40px auto;
		padding: 37px 44px 50px 44px;
		max-width: 500px;
	}
	.pet {
		padding-bottom: 70px;
	}
	.card-pet__gender {
		margin-bottom: 15px;
	}
	.card-pet__title {
		margin-bottom: 10px;
	}
	.card-pet__status {
		margin-bottom: 25px;
	}
	.card-pet__table {
		margin-bottom: 40px;
	}
	.card-pet__contacts {
		margin-bottom: 35px;
	}
	.card-pet__call {
		margin-bottom: 25px;
	}
	.pet__gal {
		margin-bottom: 40px;
	}
	.pet__content {
		margin-right: 0;
	}
	.comments__list li {
		flex: 1 0 368px;
	}
	.comments__list {
		margin-bottom: 20px;
	}
	.pets {
		padding-bottom: 50px;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.comment {
		padding: 25px 30px 30px 30px;
	}

	.comment__image {
		margin-bottom: 25px;
	}
	.comment__name {
		margin-bottom: 12px;
		font-size: 21px;
		font-weight: 600;
		letter-spacing: normal;
	}

	.comment__text {
		font-size: 15px;
	}
	.comment__time {
		font-size: 12px;
	}
	.our-animals__slider {
		padding: 0 25px;
	}

	.slider-2__btn {
		width: 50px;
		height: 50px;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50% / 50% 50% no-repeat;
	}
	.slider-2 {
		margin: 0 -25px;
		padding: 40px 25px;
	}
}

@media (max-width: 768px) {
	.modal-container-polit {
		padding: 40px 20px 20px 20px;
	}
	.title-modal-polit {
		font-size: 23px;
		line-height: 24px;
	}
	.modal-close-polit {
		top: 9px;
		right: 10px;
	}
	.header__tel {
		display: none;
	}
	.first__slider::after {
		background: url("../img/ellipse-hero.svg") center bottom/contain no-repeat;
	}

	.slider-1 .swiper-slide-active {
		box-shadow: 5px 6px 26px rgba(53, 139, 238, 0.7);
	}

	.slider-tabs__row {
		margin: 0px 25px 0px 25px;
	}
	.slider-tabs__value {
		font-size: 13px;
	}

	.slider-tabs__key {
		font-size: 13px;
	}

	.slider-tabs__photo {
		padding-bottom: 109%;
	}

	.slider-1 {
		padding: 0 25px;
	}

	.find__title {
		margin-bottom: 35px;
		font-size: 31px;
	}

	.tabs__item {
		flex-grow: 1;
		text-align: center;
		margin-right: 15px;
		margin-bottom: 15px;
		border: 1px solid #c6defa;
	}
	.tabs__items {
		margin-bottom: 0;
	}

	.find__btn {
		width: 219px;
		height: 75px;
		background: url("../svg/btn-find.svg") 0 0 / cover no-repeat;
		font-size: 14px;
	}
	.first__btn:first-child {
		flex: 0 1 250px;
		font-size: 14px;
	}
	.first__btn:last-child {
		flex: 0 1 220px;
		font-size: 14px;
	}
	.top-about__title {
		margin-bottom: 35px;
		font-size: 34px;
		line-height: 1.2;
		letter-spacing: 0.7px;
	}
	.top-about__text:not(:last-child) {
		margin-bottom: 20px;
	}
	.top-about__text {
		font-size: 21px;
		letter-spacing: 0.5px;
	}

	.grid-about__col::after {
		top: -28px;
		left: -33px;
		width: 70px;
		height: 70px;
	}
	.about__grid {
		padding-left: 33px;
	}
	.grid-about__number {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.grid-about__text {
		font-size: 14px;
	}
	.grid-about {
		grid-column-gap: 40px;
	}
	.donate__content {
		padding: 40px 0px 40px 20px;
	}
	.join__form {
		padding: 30px 15px 30px 25px;
	}
	.join__title {
		font-size: 23px;
	}
	.join__subtitle {
		margin-bottom: 30px;
		font-size: 15px;
	}
	.join__input {
		padding: 10px 15px;
		font-size: 13px;
		height: 45px;
		width: 100%;
	}
	.join__btn {
		width: 100%;
		min-height: 50px;
		font-size: 14px;
	}
	.footer__adresses {
		margin: 0;
	}

	.descr__decor-cont {
		width: 375px;
	}
	.descr__image::after {
		width: 110px;
		height: 110px;
	}
	.descr__image::before {
		width: 45px;
		height: 45px;
	}
	.descr__content {
		font-size: 15px;
		line-height: 22px;
	}
	.descr__tels li a {
		font-size: 15px;
		line-height: 2;
	}
	.descr__subtitle {
		font-size: 17px;
	}
	.news__item-title {
		text-align: center;
	}
	.news__item {
		align-items: center;
	}
	.news__item-overlay {
		width: 394px;
	}
	.news__btn {
		width: 219px;
		height: 75px;
		background: url("../svg/btn-find.svg") 0 0 / cover no-repeat;
		font-size: 14px;
	}
	.reviews__gal {
		margin-bottom: 25px;
	}
	.reviews__title {
		margin-bottom: 10px;
		font-size: 24px;
	}
	.reviews__subtitle {
		font-size: 17px;
		margin-bottom: 25px;
	}
	.reviews__btn {
		font-size: 14px;
		line-height: 26px;
	}
	.reviews {
		padding-bottom: 70px;
	}
	.volunteer__title {
		margin-bottom: 20px;
	}
	.content-vol__title {
		margin-bottom: 9px;
		font-size: 17px;
	}
	.content-vol__blocks li:not(:last-child) {
		margin-bottom: 18px;
	}
	.content-vol__bot {
		font-size: 17px;
	}
	.form-vol__title {
		margin-bottom: 20px;
		font-size: 28px;
	}
	.form-vol {
		padding: 67px 30px 70px 30px;
	}
	.form-vol__btn {
		min-height: 50px;
		font-size: 14px;
	}
	.volunteer {
		padding-bottom: 80px;
	}
}

@media (max-width: 653px) {
	.slider-1 {
		padding: 0 15%;
	}
}

@media (max-width: 576px) {
	.blue-btn {
		min-height: 50px;
		font-size: 13px;
	}
	.header__logo {
		width: 196px;
	}
	.first__title {
		font-size: 8vw;
		letter-spacing: normal;
		line-height: 1.2;
	}
	.first__subtitle {
		font-size: 6vw;
	}
	.first__img-text {
		margin-bottom: 40px;
		padding-bottom: 24.9%;
	}
	.first__buttons {
		flex-direction: column;
		align-items: center;
	}
	.first__btn:first-child {
		margin-right: 0;
		width: 290px;
		flex: 1 1 auto;
		margin-bottom: 15px;
		font-size: 13px;
	}
	.first__btn:last-child {
		width: 290px;
		flex: 1 1 auto;
		font-size: 13px;
	}
	.tabs {
		margin-bottom: 5px;
	}
	.fancybox-slide {
		padding-left: 0px;
		padding-right: 0px;
	}
	.modal__image {
		display: none;
	}

	.slider-hero .swiper-pagination-bullets {
		bottom: 20px;
	}
	.find__title {
		margin-bottom: 30px;
		font-size: 28px;
		line-height: 1.1;
	}
	.find__btn {
		font-size: 13px;
	}

	.tabs__item {
		font-size: 13px;
	}
	.top-about__title {
		margin-bottom: 25px;
		font-size: 28px;
		line-height: 1.2;
		letter-spacing: normal;
	}
	.top-about__text {
		font-size: 21px;
		letter-spacing: normal;
	}
	.about__image {
		padding-bottom: 60%;
	}
	.about__image::after {
		padding-bottom: 47%;
	}
	.grid-about {
		grid-row-gap: 38px;
	}
	.donate__container {
		display: block;
		padding-top: 50px;
		padding-bottom: 6.4%;
	}
	.donate__image {
		padding-bottom: 71%;
	}
	.donate__content {
		padding: 30px 0px 10px 0px;
	}
	.donate__title {
		margin-bottom: 5%;
		font-size: 28px;
		line-height: 1.1;
		letter-spacing: normal;
	}
	.donate__subtitle span {
		font-size: 31px;
	}
	.donate__subtitle {
		margin-bottom: 25px;
		font-size: 20px;
		letter-spacing: normal;
	}
	.donate__info {
		margin-bottom: 25px;
	}
	.donate__btn-block {
		display: flex;
		justify-content: center;
	}
	.our-animals__title {
		margin-bottom: -10px;
		font-size: 28px;
	}
	.our-animals__slider {
		padding: 0;
		margin-bottom: 0;
	}
	.slider-2__prev {
		transform: translate(-30%, -100%);
	}

	.slider-2__next {
		transform: translate(30%, -100%) rotate(180deg);
	}

	.slider-2__btn {
		width: 60px;
		height: 60px;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50%/50% 50% no-repeat;
	}
	.comment {
		padding: 25px 25px 25px 25px;
	}
	.comment__image {
		margin-bottom: 20px;
	}
	.comment__name {
		font-size: 18px;
	}
	.comment__text {
		font-size: 15px;
	}
	.comment__time {
		font-size: 13px;
	}
	.our-animals__container {
		padding-bottom: 50px;
	}
	.join__row {
		display: block;
	}
	.join__map {
		height: 240px;
	}
	.join__form {
		padding: 30px 15px 30px 15px;
	}
	.join__title {
		margin-bottom: 15px;
	}
	.join__input {
		margin: 0px auto 15px auto;
		max-width: 290px;
	}
	.join__btn {
		margin-left: auto;
		margin-right: auto;
		max-width: 290px;
	}
	.footer__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer__tels {
		margin-bottom: 30px;
	}
	.footer__adresses {
		margin-bottom: 30px;
		padding: 0;
	}
	.slider-1__btn {
		width: 50px;
		height: 50px;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50% / 50% 50% no-repeat;
	}
	.breadcrumbs {
		padding-bottom: 15px;
	}
	.descr__title {
		margin-bottom: 10px;
		font-size: 28px;
	}
	.descr__content {
		font-size: 14px;
		line-height: 21px;
	}
	.descr__subtitle-block {
		margin-top: 25px;
	}
	.descr__subtitle {
		font-size: 16px;
	}
	.descr__tels li a {
		font-size: 14px;
	}
	.news__title {
		font-size: 28px;
		margin-bottom: 80px;
	}
	.comments__title {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.contacts__title {
		font-size: 28px;
	}
	.volunteer__title {
		font-size: 25px;
		line-height: 1.3;
	}
	.news__item-overlay {
		width: 380px;
	}
	.news__subtitle {
		font-size: 17px;
	}
	.news__item-title {
		font-size: 27px;
	}
	.news__list {
		margin: 0px -37.5px 0px -37.5px;
	}
	.news__column {
		flex: 1 0 280px;
	}
	.news__btn {
		font-size: 13px;
	}
	.news {
		padding-bottom: 70px;
	}
	.gal__item--b {
		grid-column-start: auto;
		grid-row-start: auto;
	}
	.reviews__title {
		line-height: 1.2;
		font-size: 22px;
	}
	.reviews__subtitle {
		font-size: 16px;
	}
	.reviews__btn {
		font-size: 12px;
		line-height: 21px;
	}
	.contacts__item {
		align-items: center;
	}
	.contacts__item-title {
		align-items: center;
		min-height: auto;
	}
	.contacts__item-title::after {
		content: "";
		margin-top: 15px;
	}
	.contacts__item-bot {
		text-align: center;
	}
	.contacts {
		padding-bottom: 40px;
	}
	.content-vol__blocks {
		margin-bottom: 25px;
	}
	.volunteer__form {
		max-width: 380px;
		padding: 183px 0px 0px 0px;
	}
	.form-vol {
		padding: 64px 30px 50px 30px;
	}
	.form-vol__title {
		margin-bottom: 15px;
		font-size: 24px;
	}
	.form-vol__subtitle {
		margin-bottom: 25px;
		font-size: 15px;
		line-height: 22px;
	}
	.form-vol__input {
		margin-bottom: 20px;
		padding: 5px 25px 5px 15px;
		height: 35px;
		font-size: 16px;
	}
	.form-vol__textarea {
		margin-bottom: 40px;
		padding: 10px 25px 10px 15px;
	}
	.card-pet {
		margin: 0px auto 40px auto;
		padding: 30px 20px 40px 20px;
		max-width: 500px;
	}
	.card-pet__title {
		font-size: 20px;
	}
	.card-pet__status {
		font-size: 15px;
	}
	.card-pet__key {
		font-size: 15px;
	}
	.card-pet__value {
		font-size: 15px;
	}
	.card-pet__donate {
		font-size: 17px;
	}
	.pet__image--r2 {
		grid-row-start: auto;
		grid-column-start: auto;
	}
	.pet__image--c2 {
		grid-column-start: auto;
	}
	.pet__text {
		font-size: 15px;
		margin-bottom: 7px;
	}
	.pet__text--b {
		font-size: 20px;
	}
	.pet {
		padding-bottom: 50px;
	}
	.comments__list {
		margin-bottom: 10px;
	}
}

@media (max-width: 420px) {
	.find__title {
		font-size: 23px;
	}

	.slider-1 {
		padding: 0;
	}
	.slider-1__prev {
		transform: translate(-30%, -100%);
	}

	.slider-1__next {
		transform: translate(30%, -100%) rotate(180deg);
	}
	.tabs__items {
		margin-bottom: -25px;
	}
	.top-about__title {
		font-size: 23px;
	}
	.top-about__text {
		font-size: 17px;
	}
	.donate__title {
		font-size: 23px;
	}
	.donate__subtitle span {
		font-size: 24px;
	}
	.donate__subtitle {
		margin-bottom: 15px;
		font-size: 17px;
	}
	.our-animals__title {
		font-size: 23px;
	}
	.slider-2__btn {
		width: 50px;
		height: 50px;
	}
	.breadcrumbs {
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.descr__title {
		font-size: 23px;
	}
	.descr__subtitle-block {
		margin-top: 20px;
	}
	.descr__subtitle {
		font-size: 16px;
	}
	.descr__tels li a {
		font-size: 14px;
	}
	.descr__decor-cont {
		width: 280px;
	}
	.descr__image::after {
		width: 90px;
		height: 90px;
	}
	.descr__image::before {
		width: 35px;
		height: 35px;
	}
	.news__item-overlay {
		width: 250px;
		margin-bottom: 20px;
	}
	.news__item-title {
		font-size: 17px;
		margin-bottom: 10px;
	}
	.news__subtitle {
		font-size: 15px;
	}
	.news__date {
		margin-bottom: 15px;
		font-size: 14px;
	}
	.news__item-overlay::before {
		width: 138px;
		height: 138px;
	}
	.news__item-overlay::after {
		width: 60px;
		height: 60px;
	}
	.news__column {
		padding: 0px 37.5px 78px 37.5px;
	}
	.news__btn {
		margin-top: -30px;
	}
	.news {
		padding-bottom: 50px;
	}
	.gal {
		grid-gap: 15px;
	}
	.reviews__title {
		font-size: 19px;
	}
	.reviews__subtitle {
		font-size: 15px;
		margin-bottom: 15px;
	}
	.reviews__btn {
		font-size: 10px;
		line-height: 1.4;
	}
	.reviews {
		padding-bottom: 50px;
	}
	.contacts__column {
		flex: 1 0 280px;
	}
	.contacts__item-title {
		font-size: 16px;
		text-align: center;
		margin-bottom: 15px;
	}
	.contacts__item-title::after {
		height: 3px;
	}
	.contacts__tels {
		font-size: 15px;
	}
	.contacts__item-bot li:not(:last-child) {
		margin-bottom: 8px;
	}
	.contacts__text {
		font-size: 15px;
	}
	.contacts__text--bold {
		font-size: 15px;
	}
	.contacts__mail {
		font-size: 15px;
	}
	.content-vol__title {
		margin-bottom: 9px;
		font-size: 16px;
	}
	.content-vol__head {
		margin-bottom: 15px;
		font-size: 15px;
		line-height: 21px;
	}
	.content-vol__subtitle {
		color: #000000;
		font-size: 15px;
		line-height: 21px;
	}
	.content-vol__bot {
		font-size: 16px;
	}
	.volunteer__content {
		margin-bottom: 30px;
	}
	.volunteer__form {
		max-width: 280px;
		padding: 136px 0px 0px 0px;
	}
	.form-vol {
		padding: 40px 15px 50px 15px;
	}
	.form-vol__title {
		margin-bottom: 15px;
		font-size: 20px;
	}
	.form-vol__subtitle {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 21px;
	}
	.form-vol__input {
		margin-bottom: 20px;
		padding: 5px 25px 5px 15px;
		height: 35px;
		font-size: 15px;
	}
	.form-vol__textarea {
		margin-bottom: 40px;
		padding: 10px 25px 10px 15px;
	}
	.volunteer {
		padding-bottom: 50px;
	}
	.form-vol__btn {
		width: 100%;
	}
	.card-pet {
		padding: 20px 15px 35px 15px;
	}
	.card-pet__title {
		font-size: 17px;
	}
	.card-pet__status {
		font-size: 13px;
		margin-bottom: 15px;
	}
	.card-pet__table {
		margin-bottom: 30px;
	}
	.card-pet__adress {
		font-size: 13px;
	}
	.card-pet__tel {
		font-size: 14px;
	}
	.card-pet__key {
		font-size: 13px;
	}
	.card-pet__value {
		font-size: 13px;
	}
	.card-pet__donate {
		font-size: 16px;
	}
	.pet__text {
		line-height: 1.5;
	}
	.pet__text--b {
		font-size: 17px;
	}
	.pet__gal {
		margin-bottom: 25px;
	}
	.comments__list li {
		flex: 1 0 310px;
	}
	.tabs__container li {
		flex: 1 0 280px;
	}
}
