@media (max-width: 1490px) {
	.slider-1 {
		padding: 0 43px;
	}
	.slider-1__prev {
		transform: translate(0, -100%);
	}

	.slider-1__next {
		transform: translate(0, -100%) rotate(180deg);
	}

	.our-animals__slider {
		padding: 0 43px;
	}
	.slider-2__prev {
		transform: translate(0, -50%);
	}
	.slider-2__next {
		transform: translate(0, -50%) rotate(180deg);
	}
}

@media (max-width: 1410px) {
	.bot-nav__item:not(:last-child) {
		margin-right: 21px;
	}
	.bot-nav__link {
		font-size: 11.5px;
	}
	.first__body {
		padding: 6.6% 0px 6% 0px;
	}

	.slider-hero__image img {
		height: auto;
	}

	.grid-about {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(230px, auto));
		grid-column-gap: 60px;
		grid-row-gap: 70px;
	}

	.about__grid {
		padding-left: 55px;
	}

	.grid-about__number {
		margin-bottom: 15px;
		font-size: 50px;
		font-weight: 700;
		letter-spacing: 1px;
	}
	.grid-about__col::after {
		top: -51px;
		left: -52px;
		width: 130px;
		height: 130px;
	}

	.about {
		padding-bottom: 100px;
	}
	.about__top {
		margin-bottom: 30%;
	}
	.about__image {
		padding-bottom: 63.05%;
	}

	.join__input {
		width: 400px;
		height: 65px;
	}
	.join__btn {
		width: 400px;
		min-height: 70px;
		font-size: 17px;
	}
	.join__form {
		padding: 100px 15px 100px 90px;
	}

	.comment {
		padding: 50px;
	}

	.donate__image {
		flex: 0 0 48.5%;
		max-height: 682px;
		background: url("../img/donate-dog.png") center center/contain no-repeat;
	}

	.donate__content {
		padding: 70px 0px 70px 30px;
	}
}

@media (max-width: 1200px) {
	.first {
		min-height: auto;
	}

	.first__subtitle {
		margin-bottom: 30px;
	}

	.slider-hero {
		height: auto;
	}

	.first__slider {
		padding-left: 0;
	}

	.first__slider-container {
		margin: 0 auto;
		max-width: 850px;
	}
	.slider-hero__image {
		background-size: contain;
		background-position: center bottom;
	}

	.first__slider::after {
		background: url("../img/ellipse-hero.svg") 0 100% / contain no-repeat;
	}

	.slider-1__btn {
		width: 65px;
		height: 65px;
	}

	.slider-2__btn {
		width: 60px;
		height: 60px;
	}

	.slider-1 {
		padding: 0 28px;
	}
	.donate__title {
		font-size: 34px;
		line-height: 1.2;
	}
	.donate__subtitle span {
		font-size: 44px;
	}

	.our-animals__slider {
		padding: 0 28px;
	}
	.first__img-text {
		margin-bottom: 20px;
		position: relative;
		top: -25px;
		padding-bottom: 15.9%;
		background: url("../img/text-hero.png") 100% 0 / contain no-repeat;
	}

	.about__image {
		position: relative;
		right: 0;
		width: 100%;
		padding-bottom: 45%;
		margin-bottom: 30px;
		img {
			object-position: center;
			font-family: "object-fit: contain; object-position: center;";
		}
	}
	.about__image::after {
		top: 0;
		padding-bottom: 33%;
		background: url("../img/about-text.png") center / contain no-repeat;
	}

	.about__top {
		margin-bottom: 40px;
		max-width: none;
	}

	.grid-about__number {
		font-size: 40px;
	}
	.grid-about__text {
		letter-spacing: 0.3px;
		font-size: 17px;
	}

	.donate__container {
		padding-top: 50px;
		padding-bottom: 4.4%;
	}
	.our-animals__title {
		margin-bottom: 40px;
		font-size: 35px;
		line-height: 1.3;
		letter-spacing: 0.7px;
	}

	.comment {
		padding: 25px 50px 30px 40px;
	}
	.comment__name {
		font-size: 24px;
	}
	.comment__text {
		font-size: 17px;
	}

	.comment__time {
		font-size: 14px;
	}

	.join__form {
		padding: 50px 15px 50px 40px;
		flex: 1 1 auto;
	}

	.join__map {
		flex: 0 0 50%;
	}

	.join__title {
		margin-bottom: 20px;
		font-size: 35px;
		line-height: 1.2;
		letter-spacing: 1px;
	}

	.join__subtitle {
		margin-bottom: 40px;
		font-size: 20px;
		letter-spacing: normal;
	}

	.join__input {
		width: 396px;
		height: 65px;
	}

	.header__tel {
		width: 242px;
		height: 56px;
		font-size: 18px;
	}

	.header__nav {
		display: none;
	}

	.header__burger {
		display: flex;
	}

	.footer__adresses {
		margin: 0 auto;
	}
	.bln {
		width: 183px;
		height: 100px;
		background: url("../img/point-map.svg") 0 0 / contain no-repeat;
		text-align: center;

		&__inner {
			height: 100%;
			padding: 15px 10px 25px 10px;
			position: relative;
		}

		&__close {
			width: 10px;
			height: 10px;
			position: absolute;
			top: 7px;
			right: 7px;
		}

		&__text {
			color: #ffffff;
			font-family: "Montserrat";
			font-size: 12px;
			letter-spacing: normal;
			&:not(:last-child) {
				margin-bottom: 5px;
			}
		}
	}
}

@media (max-width: 992px) {
	.first__slider::after {
		background: url("../img/ellipse-hero.svg") center 0 / cover no-repeat;
	}

	.first__title {
		font-size: 45px;
		letter-spacing: 1px;
		line-height: 1.3;
	}

	.first__subtitle {
		font-size: 22px;
	}

	.first__img-text {
		margin-bottom: 45px;
		margin-left: 0;
		position: relative;
		top: 0;
		padding-bottom: 20.9%;
		background: url("../img/text-hero.png") center / contain no-repeat;
	}

	.blue-btn {
		min-height: 65px;
		font-size: 16px;
	}

	.first__btn:first-child {
		flex: 0 1 290px;
	}
	.first__btn:last-child {
		flex: 0 1 240px;
	}

	.first__slider-container {
		max-width: 550px;
	}
	.first__body {
		padding: 7.6% 0px 9% 0px;
	}
	.find__container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.tabs__item {
		padding: 10px 20px;
		font-size: 16px;
	}

	.slider-tabs__photo {
	}

	.about {
		padding-bottom: 60px;
	}
	.about__top {
		padding-top: 10px;
	}

	.donate__content {
		padding: 40px 0px 40px 30px;
	}

	.donate__container {
		padding-top: 50px;
		padding-bottom: 6.4%;
	}

	.donate__image {
		flex: 0 0 35%;
	}
	.donate__title {
		margin-bottom: 5%;
		font-size: 31px;
		line-height: 1.3;
	}

	.donate__subtitle span {
		font-size: 38px;
	}
	.donate__subtitle {
		margin-bottom: 30px;
		font-size: 25px;
		letter-spacing: 0.4px;
	}

	.donate__info {
		margin-bottom: 45px;
		font-size: 15px;
	}

	.our-animals__title {
		margin-bottom: 20px;
		font-size: 31px;
	}

	.slider-2 .swiper-slide-active {
		box-shadow: 5px 6px 24px rgba(53, 139, 238, 0.7);
	}

	.join__btn {
		width: 90%;
		min-height: 70px;
		font-size: 17px;
	}

	.join__input {
		width: 90%;
		margin-bottom: 25px;
		padding: 10px 25px;
		font-size: 16px;
	}

	.join__title {
		margin-bottom: 20px;
		font-size: 31px;
	}

	.join__subtitle {
		margin-bottom: 40px;
		font-size: 18px;
	}

	.footer__container {
		padding-top: 8%;
		padding-bottom: 9%;
	}

	.footer__tels {
		margin-bottom: 40px;
	}

	.tels-footer__link {
		font-size: 15px;
		font-weight: 700;
		letter-spacing: normal;
	}

	.tels-footer__item:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-adresses__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-copyrights__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-adresses__text {
		font-size: 13px;
		letter-spacing: normal;
	}

	.footer-copyrights__text {
		font-size: 11px;
		letter-spacing: normal;
	}

	.footer__copyrights {
		max-width: 260px;
	}
}

@media (min-width: 769px) and (max-width: 992px) {
	.comment {
		padding: 25px 30px 30px 30px;
	}

	.comment__image {
		margin-bottom: 25px;
	}
	.comment__name {
		margin-bottom: 12px;
		font-size: 21px;
		font-weight: 600;
		letter-spacing: normal;
	}

	.comment__text {
		font-size: 15px;
	}
	.comment__time {
		font-size: 12px;
	}
	.our-animals__slider {
		padding: 0 25px;
	}

	.slider-2__btn {
		width: 50px;
		height: 50px;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50% / 50% 50% no-repeat;
	}
	.slider-2 {
		margin: 0 -25px;
		padding: 40px 25px;
	}
}

@media (max-width: 768px) {
	.header__tel {
		display: none;
	}
	.first__slider::after {
		background: url("../img/ellipse-hero.svg") center bottom/contain no-repeat;
	}

	.slider-1__container {
		margin: 0 -23px;
		padding: 40px 23px;
	}

	.slider-1 .swiper-slide-active {
		box-shadow: 5px 6px 23px rgba(53, 139, 238, 0.7);
	}

	.slider-tabs__row {
		margin: 0px 25px 0px 25px;
	}
	.slider-tabs__value {
		font-size: 13px;
	}

	.slider-tabs__key {
		font-size: 13px;
	}

	.slider-tabs__photo {
		padding-bottom: 109%;
	}

	.slider-1 {
		padding: 0 25px;
	}

	.find__title {
		margin-bottom: 35px;
		font-size: 31px;
	}

	.tabs__item {
		flex-grow: 1;
		text-align: center;
		margin-right: 15px;
		margin-bottom: 15px;
		border: 1px solid #c6defa;
	}
	.tabs__items {
		margin-bottom: 0;
	}

	.find__btn {
		width: 219px;
		height: 75px;
		background: url("../svg/btn-find.svg") 0 0 / cover no-repeat;
		font-size: 14px;
	}
	.first__btn:first-child {
		flex: 0 1 250px;
		font-size: 14px;
	}
	.first__btn:last-child {
		flex: 0 1 220px;
		font-size: 14px;
	}
	.top-about__title {
		margin-bottom: 35px;
		font-size: 34px;
		line-height: 1.2;
		letter-spacing: 0.7px;
	}
	.top-about__text:not(:last-child) {
		margin-bottom: 20px;
	}
	.top-about__text {
		font-size: 21px;
		letter-spacing: 0.5px;
	}

	.grid-about__col::after {
		top: -28px;
		left: -33px;
		width: 70px;
		height: 70px;
	}
	.about__grid {
		padding-left: 33px;
	}
	.grid-about__number {
		font-size: 30px;
		margin-bottom: 10px;
	}
	.grid-about__text {
		font-size: 14px;
	}
	.grid-about {
		grid-column-gap: 40px;
	}
	.donate__content {
		padding: 40px 0px 40px 20px;
	}
	.join__form {
		padding: 30px 15px 30px 25px;
	}
	.join__title {
		font-size: 23px;
	}
	.join__subtitle {
		margin-bottom: 30px;
		font-size: 15px;
	}
	.join__input {
		padding: 10px 15px;
		font-size: 13px;
		height: 45px;
		width: 100%;
	}
	.join__btn {
		width: 100%;
		min-height: 50px;
		font-size: 14px;
	}
	.footer__adresses {
		margin: 0;
	}
}

@media (max-width: 576px) {
	.blue-btn {
		min-height: 50px;
		font-size: 13px;
	}
	.header__logo {
		width: 196px;
	}
	.first__title {
		font-size: 8vw;
		letter-spacing: normal;
		line-height: 1.2;
	}
	.first__subtitle {
		font-size: 6vw;
	}
	.first__img-text {
		margin-bottom: 40px;
		padding-bottom: 24.9%;
	}
	.first__buttons {
		flex-direction: column;
		align-items: center;
	}
	.first__btn:first-child {
		margin-right: 0;
		width: 290px;
		flex: 1 1 auto;
		margin-bottom: 25px;
		font-size: 13px;
	}
	.first__btn:last-child {
		width: 290px;
		flex: 1 1 auto;
		font-size: 13px;
	}
	.tabs {
		margin-bottom: 5px;
	}
	.fancybox-slide {
		padding-left: 0px;
		padding-right: 0px;
	}
	.modal__image {
		display: none;
	}

	.slider-1 {
		padding: 0 15%;
	}

	.slider-hero .swiper-pagination-bullets {
		bottom: 20px;
	}
	.find__title {
		margin-bottom: 30px;
		font-size: 28px;
		line-height: 1.1;
	}
	.find__btn {
		font-size: 13px;
	}

	.tabs__item {
		font-size: 13px;
	}
	.top-about__title {
		margin-bottom: 25px;
		font-size: 28px;
		line-height: 1.2;
		letter-spacing: normal;
	}
	.top-about__text {
		font-size: 21px;
		letter-spacing: normal;
	}
	.about__image {
		padding-bottom: 60%;
	}
	.about__image::after {
		padding-bottom: 47%;
	}
	.grid-about {
		grid-row-gap: 38px;
	}
	.donate__container {
		display: block;
		padding-top: 50px;
		padding-bottom: 6.4%;
	}
	.donate__image {
		padding-bottom: 71%;
	}
	.donate__content {
		padding: 30px 0px 10px 0px;
	}
	.donate__title {
		margin-bottom: 5%;
		font-size: 28px;
		line-height: 1.1;
		letter-spacing: normal;
	}
	.donate__subtitle span {
		font-size: 31px;
	}
	.donate__subtitle {
		margin-bottom: 25px;
		font-size: 20px;
		letter-spacing: normal;
	}
	.donate__info {
		margin-bottom: 25px;
	}
	.donate__btn-block {
		display: flex;
		justify-content: center;
	}
	.our-animals__title {
		margin-bottom: -10px;
		font-size: 28px;
	}
	.our-animals__slider {
		padding: 0;
		margin-bottom: 0;
	}
	.slider-2__prev {
		transform: translate(-30%, -100%);
	}

	.slider-2__next {
		transform: translate(30%, -100%) rotate(180deg);
	}

	.slider-2__btn {
		width: 60px;
		height: 60px;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50%/50% 50% no-repeat;
	}
	.comment {
		padding: 25px 25px 25px 25px;
	}
	.comment__image {
		margin-bottom: 20px;
	}
	.comment__name {
		font-size: 18px;
	}
	.comment__text {
		font-size: 15px;
	}
	.comment__time {
		font-size: 13px;
	}
	.our-animals__container {
		padding-bottom: 50px;
	}
	.join__row {
		display: block;
	}
	.join__map {
		height: 240px;
	}
	.join__form {
		padding: 30px 15px 30px 15px;
	}
	.join__title {
		margin-bottom: 15px;
	}
	.join__input {
		margin: 0px auto 15px auto;
		max-width: 290px;
	}
	.join__btn {
		margin-left: auto;
		margin-right: auto;
		max-width: 290px;
	}
	.footer__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.footer__tels {
		margin-bottom: 30px;
	}
	.footer__adresses {
		margin-bottom: 30px;
		padding: 0;
	}
	.slider-1__btn {
		width: 50px;
		height: 50px;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50% / 50% 50% no-repeat;
	}
}

@media (max-width: 420px) {
	.find__title {
		font-size: 23px;
	}

	.slider-1 {
		padding: 0;
	}
	.slider-1__prev {
		transform: translate(-30%, -100%);
	}

	.slider-1__next {
		transform: translate(30%, -100%) rotate(180deg);
	}
	.tabs__items {
		margin-bottom: -25px;
	}
	.top-about__title {
		font-size: 23px;
	}
	.top-about__text {
		font-size: 17px;
	}
	.donate__title {
		font-size: 23px;
	}
	.donate__subtitle span {
		font-size: 24px;
	}
	.donate__subtitle {
		margin-bottom: 15px;
		font-size: 17px;
	}
	.our-animals__title {
		font-size: 23px;
	}
	.slider-2__btn {
		width: 50px;
		height: 50px;
	}
}
