.container {
	max-width: 1410px;
	padding: 0 20px;
	margin: 0 auto;
}

html,
body {
	font-size: 18px;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.main {
	flex: 1 1 auto;
	background-color: #ecf2f8;
}

.title {
	font-weight: 800;
	color: #0f3057;
	text-transform: uppercase;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.disable-scroll {
	overflow: hidden;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}

.breadcrumbs {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 26px;
	li {
		display: flex;
		align-items: center;
		&:not(:last-child) {
			margin-right: 14px;
		}
		&:not(:last-child)::after {
			content: "";
			margin-left: 8px;
			width: 21px;
			height: 1px;
			background-color: #000000;
		}

		a {
			color: #000000;
			font-size: 14px;
			line-height: 28px;
			text-align: left;
			letter-spacing: 0.35px;
			&.current {
				color: #358bee;
			}
		}
	}
}

@keyframes descr-decor {
	100% {
		transform: rotate(360deg);
	}
}
