@import "_fonts.scss";
@import "_variables.scss";
@import "_reset.scss";
@import "_overall.scss";
@import "_burger.scss";

// Modal =======================================================================

.modal {
	max-width: 570px;
	width: 100%;
	box-sizing: border-box;
	padding: 0;
	background-color: transparent;
	// .modal__container
	&__container {
		display: flex;
		position: relative;
		overflow: hidden;
		background-color: #c6defa;
		border-radius: 26px;
	}
	// .modal__close
	&__close {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 15px;
		right: 12px;
		background-color: transparent;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover.modal__close::after,
			&:hover.modal__close::before {
				background-color: #358bee;
			}
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition: background-color 0.3s;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	// .modal__image
	&__image {
		width: 100%;
		max-width: 170px;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
		height: auto;
	}
	// .modal__content
	&__content {
		padding: 30px 35px 30px 25px;
	}
	// .modal__title
	&__title {
		margin-bottom: 10px;
		padding-bottom: 18px;
		padding-left: 27px;
		font-size: 24px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: -9px;
			width: 7px;
			height: 45px;
			background-color: #0f3057;
		}
	}
	// .modal__subtitle
	&__subtitle {
		margin-bottom: 20px;
		font-size: 16px;
	}
	// .modal__form
	&__form {
		margin-bottom: 28px;
	}
	// .modal__input
	&__input {
		min-height: 51px;
		width: 100%;
		background-color: transparent;
		border: 1px solid #545a65;
		font-size: 16px;
		padding: 5px 20px;
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	// .modal__btn
	&__btn {
		width: 100%;
		min-height: 52px !important;
	}
	// .modal__privacy
	&__privacy {
		font-size: 12px;
		color: #5e6675;
		width: 100%;
		text-align: left;
		padding-left: 34px;
		// background-image: url(../img/polit.png);
		background-size: 22px auto;
		background-repeat: no-repeat;
		background-position: 0 0;
		min-height: 23px;
		span {
			text-decoration-line: underline;
			color: #5e6675;
		}
	}
}

//Mob-menu ======================================================================

.mob-menu {
	position: fixed;
	right: -150%;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 50px 15px 30px 15px;
	border-radius: 20px 0 0 20px;
	z-index: 888;
	background: #f5ccb8;
	width: 320px;
	height: 100%;
	overflow: auto;
	box-shadow: 0 0 7px #9e9e9e4d;
	transition: right 0.4s, visibility 0.4s;

	&.active {
		visibility: visible;
		right: 0;
	}
	// .mob-menu__close
	&__close {
		width: 25px;
		height: 25px;
		position: absolute;
		top: 20px;
		right: 20px;
		background-color: transparent;
		cursor: pointer;

		@media (min-width: 992px) {
			&:hover.mob-menu__close::after,
			&:hover.mob-menu__close::before {
				background-color: #358bee;
			}
		}

		&::before,
		&::after {
			content: "";
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #000;
			transition: background-color 0.3s;
		}
		&::before {
			transform: rotate(-45deg);
		}
		&::after {
			transform: rotate(45deg);
		}
	}
	// .mob-menu__title
	&__title {
		margin-bottom: 30px;
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
	}
	// .mob-menu__nav
	&__nav {
		flex: 1 1 auto;
	}
	// .mob-menu__tel
	&__tel {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 220px;
		height: 45px;
		padding: 10px;
		box-shadow: 5px 6px 36px rgba(197, 139, 111, 0.44);
		border-radius: 28px;
		background-color: #ffffff;
		color: #0f3057;
		font-weight: 700;
		line-height: 28px;
	}
}
.nav-mob {
	// .nav-mob__top
	&__top {
		margin-bottom: 40px;
	}
	// .nav-mob__bot
	&__bot {
	}
}
.top-nav-mob {
	// .top-nav-mob__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
	// .top-nav-mob__link
	&__link {
		color: #358bee;
		font-size: 16px;
	}
}
.bot-nav-mob {
	// .bot-nav-mob__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}
	// .bot-nav-mob__link
	&__link {
		color: #0f3057;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;

		&--active {
			color: #358bee;
		}
	}
	// .bot-nav-mob__link--active
	&__link--active {
	}
}

//Header============================================================================
.header {
	padding: 16px 0;
	background-color: #f5ccb8;
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
	}
	// .header__nav
	&__nav {
		margin: 7px 0px 0px auto;
		padding: 0px 53px 0px 20px;
	}
	// .header__tel
	&__tel {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 242px;
		height: 56px;
		padding: 10px;
		box-shadow: 5px 6px 36px rgba(197, 139, 111, 0.44);
		border-radius: 28px;
		background-color: #ffffff;
		color: #0f3057;
		font-weight: 700;
		line-height: 28px;
	}
}
.nav-header {
	// .nav-header__top
	&__top {
		padding-bottom: 14px;
		display: flex;
		justify-content: flex-end;
		margin-right: 12px;
	}
	// .nav-header__bot
	&__bot {
		padding-top: 20px;
		display: flex;
		border-top: 1px solid #f2e3dc;
	}
}
.top-nav {
	// .top-nav__item
	&__item {
		&:not(:last-child) {
			margin-right: 62px;
		}
	}
	// .top-nav__link
	&__link {
		color: #358bee;
		font-size: 14px;
	}
}
.bot-nav {
	// .bot-nav__item
	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	// .bot-nav__link
	&__link {
		color: #0f3057;
		font-size: 14px;
		font-weight: 600;
		text-transform: uppercase;

		&--active {
			color: #358bee;
		}
	}
}

// Hero ===================================================================================================

.hero {
	background: #f5ccb8;
	position: relative;
	min-height: calc(100vh - 111.4px);
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		width: 1164px;
		height: 643px;
		background: url("../img/Ellipse-hero.svg") 100% 100% no-repeat;
		opacity: 0.5;
	}
	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 425px;
	// 	left: 454px;
	// 	width: 1191px;
	// 	height: 262px;
	// 	background: url("../img/text-hero.png") 0 0 no-repeat;
	// 	z-index: 4;
	// }
	// .hero__container
	&__container {
		padding-top: 117px;
		padding-bottom: 50px;
		position: relative;
		z-index: 5;
	}
	// .hero__title
	&__title {
		margin-bottom: 18px;
		font-size: 50px;
		letter-spacing: 1.25px;
		line-height: 60px;
		max-width: 651px;
	}
	&__img-text {
		margin-left: 176px;
		margin-top: 55px;
		margin-bottom: -38px;
	}
	// .hero__subtitle
	&__subtitle {
		// margin-bottom: 279px;
		color: #0f3057;
		font-size: 24px;
		max-width: 651px;
	}
	// .hero__buttons
	&__buttons {
		display: flex;
	}
	// .hero__btn
	&__btn {
		&:first-child {
			flex: 0 1 320px;
			margin-right: 30px;
		}

		&:last-child {
			flex: 0 1 270px;
		}
	}
	// .hero__image
	&__image {
		padding-top: 20px;
		position: absolute;
		bottom: 0;
		right: 0;
		max-width: 993px;
		max-height: 100%;
		z-index: 3;
	}
}

.title {
	font-weight: 800;
	color: #0f3057;
	text-transform: uppercase;
}

.title--blue {
	color: #358bee;
}

.blue-btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 38px;
	color: #ffffff;
	font-weight: 700;
	background-color: #0f3057;
	letter-spacing: 0.45px;
	text-transform: uppercase;
	padding: 10px 15px;
	min-height: 75px;
	cursor: pointer;
	&--light {
		background-color: #358bee;
	}
}

//find =============================================================================================
.bln {
	box-sizing: border-box;
	width: 311px;
	height: 177px;

	background: url("../img/point-map.svg") 0 0 / contain no-repeat;
	text-align: center;

	&__inner {
		height: 100%;
		padding: 35px 20px 45px 20px;
		position: relative;
	}

	&__close {
		width: 15px;
		height: 15px;
		position: absolute;
		top: 7px;
		right: 7px;
	}

	&__text {
		color: #ffffff;
		font-family: "Montserrat";
		font-size: 20px;
		letter-spacing: 0.5px;
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}
}

.find {
	// .find__container
	&__container {
		padding-top: 87px;
		padding-bottom: 112px;
	}
	// .find__title
	&__title {
		margin-bottom: 60px;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: 1px;
	}
	// .find__btn
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		width: 265px;
		height: 91px;
		background: url("../svg/btn-find.svg") 0 0 no-repeat;
		color: #ffffff;
		font-size: 16px;
		letter-spacing: 0.4px;
	}
}

.tabs {
	margin-bottom: 68px;
	// .tabs__items
	&__items {
		display: flex;
		margin-bottom: 20px;
		color: #000000;
		font-size: 20px;
	}
	// .tabs__item
	&__item {
		padding: 12px 36px;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 27px;
		}

		&.active {
			box-shadow: 9px 12px 49px rgba(53, 139, 238, 0.4);
			border-radius: 22px;
			background-color: #ffffff;
		}
	}
	// .tabs__body
	&__body {
	}
	// .tabs__block
	&__block {
		display: none;
		&.active {
			display: block;
		}
	}
}
.slider-tabs {
	// .slider-tabs__item
	&__item {
		display: flex;
		flex-direction: column;
		padding-bottom: 40px;
		border-radius: 20px;
		background-color: #fff;
		overflow: hidden;
		transition: box-shadow 0.3s;
		height: auto;
	}
	// .slider-tabs__photo
	&__photo {
		margin-bottom: 24px;
		position: relative;
		padding-bottom: 116.5%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: center;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .slider-tabs__name
	&__name {
		flex: 1 1 auto;
		padding: 0px 15px 0px 47px;
		margin-bottom: 20px;
		color: #000000;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.5px;
	}
	// .slider-tabs__row
	&__row {
		margin: 0px 41px 0px 47px;
		padding-bottom: 3px;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #edf2f8;
		&:not(:last-child) {
			margin-bottom: 5px;
		}
	}
	// .slider-tabs__key
	&__key {
		color: #000000;
		font-size: 14px;
		letter-spacing: 0.35px;
	}
	// .slider-tabs__value
	&__value {
		color: #000000;
		font-size: 14px;
		font-weight: 600;
		letter-spacing: 0.35px;
	}
}

.slider-1 {
	position: relative;

	&__container {
		margin: 0 -30px;
		padding: 40px 30px;
	}

	.swiper-slide-active {
		box-shadow: 5px 6px 36px rgba(53, 139, 238, 0.7);
	}

	.swiper-button-disabled {
		opacity: 0.7;
	}

	&__btn {
		width: 83px;
		height: 83px;
		position: absolute;
		top: 50%;
		border-radius: 50%;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50% no-repeat;
		z-index: 2;
	}

	&__next {
		right: 0px;
		transform: translate(50%, -50%) rotate(180deg);
	}

	&__prev {
		left: 0;
		transform: translate(-50%, -50%);
	}
}

//about =============================================================================================

.about {
	padding-bottom: 151px;
	background: url("../img/about-bg.svg") 0 100% / contain no-repeat;
	// .about__container
	&__container {
		position: relative;
	}
	// .about__top
	&__top {
		max-width: 703px;
		margin-bottom: 546px;
		padding-top: 81px;
	}
	// .about__grid
	&__grid {
		max-width: 1298px;
		padding-left: 83px;
	}

	&__dog {
		position: absolute;
		top: 0;
		right: 15px;
		width: 46.53%;
		padding-bottom: 73.05%;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}

	&__img-text {
		position: absolute;
		top: 266px;
		right: 15px;
		width: 81.1%;
		padding-bottom: 43.7%;
		background: url("../img/about-text.png") 0 0 / contain no-repeat;
	}
}

.top-about {
	// .top-about__title
	&__title {
		margin-bottom: 58px;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: 1px;
	}
	// .top-about__text
	&__text {
		color: #000000;
		font-size: 24px;
		letter-spacing: 0.6px;
		&:not(:last-child) {
			margin-bottom: 15px;
		}
		&--bold {
			font-weight: 600;
		}
	}
}

.grid-about {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(254px, auto));
	grid-gap: 60px;
	justify-content: space-between;
	// .grid-about__col
	&__col {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: -119px;
			left: -69px;
			width: 202px;
			height: 202px;
			border-radius: 50%;
			background-color: #8cbdf5;
		}
	}
	// .grid-about__number
	&__number {
		margin-bottom: 60px;
		font-size: 60px;
		font-weight: 700;
		letter-spacing: 1.5px;
		color: #0f3057;
		position: relative;
		z-index: 2;
	}
	// .grid-about__text
	&__text {
		color: #000000;
		letter-spacing: 0.5px;
		font-size: 20px;
		position: relative;
		z-index: 2;
	}
}

//donate ================================================================================================
.donate {
	// .donate__container
	&__container {
		display: flex;
		padding-top: 67px;
		padding-bottom: 30px;
	}
	// .donate__image
	&__image {
		flex: 0 1 57.5%;
		max-height: 682px;
		background: url("../img/donate-dog.png") center center / cover no-repeat;
	}
	// .donate__content
	&__content {
		padding: 149px 0px 84px 31px;
		flex: 0 1 42.5%;
	}
	// .donate__title
	&__title {
		margin-bottom: 11.7%;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: 1px;
	}
	// .donate__subtitle
	&__subtitle {
		margin-bottom: 42px;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 0.75px;
		span {
			display: block;
			margin-bottom: 20px;
			font-size: 48px;
			font-weight: 700;
			letter-spacing: 1.2px;
		}
	}
	// .donate__info
	&__info {
		margin-bottom: 50px;
		font-size: 16px;
		letter-spacing: 0.4px;
		color: #000;
	}

	&__btn-block {
		display: flex;
	}
	// .donate__btn
	&__btn {
		flex: 0 1 272px;
	}
}

//our-animals ============================================================================================

.our-animals {
	// .our-animals__container
	&__container {
		padding-bottom: 108px;
	}
	// .our-animals__title
	&__title {
		margin-bottom: 98px;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: 1px;
	}
	// .our-animals__slider
	&__slider {
		margin-bottom: 80px;
		position: relative;
	}

	&__btn-block {
		display: flex;
		justify-content: center;
	}

	&__btn {
		flex: 0 1 272px;
	}
}

.slider-2 {
	margin: 0 -30px;
	padding: 40px 30px;
	// .slider-2__body
	&__body {
	}

	.swiper-slide-active {
		box-shadow: 5px 6px 36px rgba(53, 139, 238, 0.7);
	}

	.swiper-button-disabled {
		opacity: 0.7;
	}

	&__btn {
		width: 83px;
		height: 83px;
		position: absolute;
		top: 50%;
		border-radius: 50%;
		background: #358bee url("../svg/arrow-slider.svg") 45% 50% no-repeat;
		z-index: 2;
	}

	&__next {
		right: 0px;
		transform: translate(50%, -50%) rotate(180deg);
	}

	&__prev {
		left: 0;
		transform: translate(-50%, -50%);
	}
}
.comment {
	display: flex;
	flex-direction: column;
	padding: 61px 63px 65px 63px;
	border-radius: 20px;
	background-color: #ffffff;
	transition: box-shadow 0.3s;
	height: auto;
	// .comment__image
	&__image {
		margin-bottom: 40px;
		position: relative;
		padding-bottom: 63.7%;
		border-radius: 20px 20px 0 0;
		overflow: hidden;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: center;
			object-position: center;
			font-family: "object-fit: cover; object-position: center;";
		}
	}
	// .comment__name
	&__name {
		margin-bottom: 20px;
		font-size: 30px;
		font-weight: 600;
		letter-spacing: 0.75px;
	}
	// .comment__text
	&__text {
		margin-bottom: 15px;
		color: #000000;
		font-size: 20px;
		flex: 1 1 auto;
	}
	// .comment__time
	&__time {
		color: #358bee;
		font-size: 16px;
		letter-spacing: 0.4px;
	}
}

//join ===================================================================================================

.join {
	background-color: #c6defa;
	// .join__row
	&__row {
		display: flex;
		padding-right: 15px;
	}
	// .join__map
	&__map {
		flex: 0 1 975px;
	}
	// .join__form
	&__form {
		padding: 128px 15px 157px 117px;
		flex: 0 0 630px;
	}
	// .join__title
	&__title {
		margin-bottom: 38px;
		font-size: 40px;
		line-height: 60px;
		letter-spacing: 1px;
	}
	// .join__subtitle
	&__subtitle {
		margin-bottom: 80px;
		color: #000000;
		font-size: 24px;
		letter-spacing: 0.6px;
	}
	// .join__input
	&__input {
		display: block;
		width: 436px;
		height: 75px;
		margin-bottom: 26px;
		padding: 10px 40px;
		border-radius: 38px;
		background-color: #ffffff;
		color: #000000;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: 0.45px;
	}
	// .join__btn
	&__btn {
		width: 436px;
	}
}

//footer =================================================================================================

.footer {
	background-color: #0f3057;
	// padding: 110px 0 139px;
	// .footer__container
	&__container {
		padding-top: 110px;
		padding-bottom: 139px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	// .footer__tels
	&__tels {
	}
	// .footer__adresses
	&__adresses {
		padding: 0 25px;
		margin: 0 auto 0 89px;
	}
	// .footer__copyrights
	&__copyrights {
		max-width: 318px;
	}
}
.tels-footer {
	// .tels-footer__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
	// .tels-footer__link
	&__link {
		color: #ffffff;
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 0.6px;
	}
}
.footer-adresses {
	// .footer-adresses__text
	&__text {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		color: #ffffff;
		font-size: 20px;
		letter-spacing: 0.5px;
	}
}
.footer-copyrights {
	// .footer-copyrights__text
	&__text {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
		color: #edf2f8;
		font-size: 14px;
		letter-spacing: 0.35px;
	}
}

//media ====================================================================================================

@media (max-width: 1340px) {
	.bot-nav__item:not(:last-child) {
		margin-right: 20px;
	}

	.header__tel {
		width: 16%;
		height: 45px;
		font-size: 15px;
	}

	.header__nav {
		padding: 0px 40px 0px 20px;
	}

	.bot-nav__link {
		font-size: 13px;
	}

	.nav-header__top {
		padding-bottom: 12px;
	}

	.nav-header__bot {
		padding-top: 15px;
	}

	.footer__container {
		padding-top: 7%;
		padding-bottom: 10%;
	}
}

@media (max-width: 1200px) {
	.header__tel {
		width: 242px;
		height: 56px;
		font-size: 18px;
	}

	.header__nav {
		display: none;
	}

	.header__burger {
		display: flex;
	}

	.footer__adresses {
		margin: 0 auto;
	}
}

@media (max-width: 992px) {
	.tels-footer__link {
		font-size: 15px;
		font-weight: 700;
		letter-spacing: normal;
	}

	.tels-footer__item:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-adresses__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-copyrights__text:not(:last-child) {
		margin-bottom: 10px;
	}

	.footer-adresses__text {
		font-size: 13px;
		letter-spacing: normal;
	}

	.footer-copyrights__text {
		font-size: 11px;
		letter-spacing: normal;
	}

	.footer__copyrights {
		max-width: 260px;
	}
}

@media (max-width: 652px) {
	.header__container {
		flex-wrap: wrap;
	}
	.header__tel {
		order: 2;
		width: 52%;
		margin: 20px auto 0px auto;
	}

	.footer__container {
		padding-top: 35px;
		padding-bottom: 50px;
		flex-direction: column;
	}

	.footer__tels {
		margin-bottom: 30px;
	}

	.footer__adresses {
		margin: 0px 0px 20px 0px;
		padding: 0;
	}

	.modal__image {
		display: none;
	}
}

@media (max-width: 500px) {
	.header__tel {
		order: 2;
		width: 280px;
	}

	.modal__content {
		padding: 50px 35px 30px 25px;
	}

	.modal__title {
		font-size: 20px;
		padding-left: 15px;
		&::after {
			height: 40px;
		}
	}
}
